@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?il6y0j");
  src: url("../fonts/icomoon.eot?#iefixil6y0j") format('embedded-opentype'), url("../fonts/icomoon.woff?il6y0j") format('woff'), url("../fonts/icomoon.ttf?il6y0j") format('truetype'), url("../fonts/icomoon.svg?il6y0j#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'open sans';
  font-size: 16px;
}
/*Utilidades*/
.u-containerDefault {
  margin: 1em auto;
  width: 75%;
}
.u-title {
  border-bottom: 2px dashed #4eb9f3;
  color: #4eb9f3;
  font-weight: normal;
  padding: 0 0 0.5em 0;
  text-align: center;
}
.u-headerIcon {
  border: solid 3px #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-family: 'icomoon';
  font-size: 50px;
  font-weight: normal;
  margin: 0 10px;
  padding: 15px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  vertical-align: middle;
}
.u-headerIcon:hover {
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.u-profileLlink {
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  color: #fff;
  display: inline-block;
  margin: 0 0.5em 0 0;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
}
.u-profileLlink:before {
  display: inline-block;
  font-family: 'icomoon';
  font-size: 25px;
  padding: 0 0.25em;
  vertical-align: middle;
}
.u-profileLlink:hover {
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
/*MainMenu*/
.MainMenu {
  background: #4183d7;
  height: 3.75em;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}
.MainMenu-list {
  margin: 0;
  padding: 0;
}
.MainMenu-item {
  display: inline-block;
  margin: 0 1.5em 0 0;
}
.MainMenu-link {
  border-bottom: solid 0px transparent;
  color: #fff;
  font-weight: bold;
  line-height: 3.75em;
  margin: 0;
  padding: 0 0.5em;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
.MainMenu-link:hover {
  background: rgba(255,255,255,0.2);
  padding: 1.2em;
}
/*Header*/
.Header {
  background: #4eb9f3;
  height: 350px;
  margin: 3.75em 0 0 0;
  padding: 1em;
  position: relative;
  text-align: center;
  z-index: 100;
}
.Header-imageContainer {
  display: inline-block;
  margin: 0 auto;
}
.Header-icon1:before {
  content: '\e600';
}
.Header-icon2:before {
  content: '\e601';
}
.Header-image {
  border: solid 5px #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: inline-block;
  vertical-align: middle;
  width: 220px;
}
.Header-link,
.Header-name {
  color: #fff;
}
.Header-link {
  font-size: 2.2em;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Header-link:hover {
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.Header-name {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
}
/*profile*/
.profile {
  text-align: center;
}
.profile-link1 {
  background: #333;
}
.profile-link1:before {
  content: '\f09b';
}
.profile-link2 {
  background: #55acee;
}
.profile-link2:before {
  content: '\f099';
}
.profile-link3 {
  background: #3b5998;
}
.profile-link3:before {
  content: '\f09a';
}
.profile-skills {
  display: inline-block;
  margin: 1em;
  text-align: left;
  width: 42%;
}
.profile-skills:before {
  color: #4eb9f3;
  content: '\f058';
  display: block;
  float: left;
  font-family: 'icomoon';
  font-size: 45px;
  margin: 0 10px;
}
/*work*/
.work {
  margin-top: 2em;
  text-align: center;
}
.work-item {
  display: inline-block;
}
.work-imageContainer {
  margin: 1em;
  padding: 0;
}
.work-image {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  cursor: pointer;
  height: 200px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  width: auto;
}
.work-image:hover {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.work-description {
  color: #808080;
  font-size: 1.1em;
  font-style: italic;
}
/* footer */
.footer {
  background: #4183d7;
  padding: 2em;
  text-align: left;
}
.footer-left {
  display: inline-block;
  margin: 0 2em 0 0;
  text-align: center;
  vertical-align: top;
  width: 32em;
}
.footer-title,
.footer-description {
  color: #fff;
  text-align: right;
}
.footer-form {
  display: inline-block;
  text-align: left;
}
.footer-formInput,
.footer-textarea {
  background: #fff;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  margin: 0 0 1em 0;
  padding: 0.5em;
}
.footer-textarea {
  resize: none;
}
.footer-button {
  background: #fff;
  border: none;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  color: #4183d7;
  padding: 0.5em;
}
.footer-button:hover {
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.6);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.6);
}
