<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="UTF-8" />
		<title>Mi portafolio</title>
		<link rel="stylesheet" href="../static/css/estilo.css" />
	</head>

	<body>
		<header id="yo" class="Header">
			<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item"><a class="MainMenu-link"href="#yo">Yo</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link"href="#perfil">Perfil</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link"href="#trabajo">Trabajo</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link"href="#contacto">Contacto</a></li>
				</ul>
			</nav>

			<figure Class="Header-imageContainer">
				<img class="Header-image" src="static/avatar.png" alt="Avatar"  />
				<figcaption class="Header-imageDescription">
					<a class="Header-link" href="#">@28Bam</a>
				</figcaption>
			</figure>
			<p class="Header-name">Jorge Eduardo</p>
		</header>

		<section class="Profile" id="perfil">
			<h2 class="Profile-title">Perfil</h2>
			<p class="Profile-descrption">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et minus quibusdam adipisci, dignissimos earum, perferendis molestiae sequi, dolorem dolor cupiditate vel. Ducimus fugit accusantium blanditiis rerum ipsam amet ratione aut.
			</p>
			<a class="Profile-link" href="http://www.google.com" target="_blank">@28Bam</a>
			<a class="Profile-link" href="#" target="_blank">Jorge Eduardo</a>
			<a class="Profile-link" href="#" target="_blank">Jorge Eduardo</a>
		</section>

		<section class="Work"id="trabajo">
			<h2 class="Work-title">Trabajo</h2>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="static/imagen.png" alt="Es la descrpción de mi imagen" />
					<figcaption class="Work-description" >Ejemplo de trabajo 1</figcaption>
				</figure>
			</article>
		</section>

		<footer class="Footer" id="contacto">
			<h3 class="Footer-title">Contacto</h3>
			<p class="Footer-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum eveniet autem vel fugit voluptates dignissimos reiciendis perspiciatis vero, quidem, qui, a ipsa nam molestias sequi at. Temporibus quod officiis ut.</p>
			<form class="Footer-form" action="">
				<input class="Footer-input" type="text" placeholder="Nombre" />
				<input class="Footer-input" type="email" placeholder="Email" />
				<textarea class="Footer-textarea" name="" placeholder="Comentarios" ></textarea>
				<button class="Footer-button" type="submit">Contactarme</button>
			</form>
		</footer>
	</body>
</html>
