<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1" />
    <meta name="description" content="Portafolio de ejemplo realizado Mejorando.la" />
    <title>Portafolio.la</title>
    <link rel="stylesheet" href="../static/css/portafolioLa.css" />
    <script type="text/javascript" src="../static/js/prefixfree.min.js"></script>
  </head>

  <body>
    <header id="yo" class="Porta_Header">
      <nav class="Porta_Menu">
        <ul class="Porta_Menu-list">
          <li class="Porta_Menu-item"><a class="Porta_Menu-link" href="#yo">Yo</a></li>
          <li class="Porta_Menu-item"><a class="Porta_Menu-link" href="#perfil">Perfil</a></li>
          <li class="Porta_Menu-item"><a class="Porta_Menu-link" href="#trabajo">Trabajo</a></li>
          <li class="Porta_Menu-item"><a class="Porta_Menu-link" href="#contacto">Contacto</a></li>
        </ul>
      </nav>

      <figure Class="Porta_Header-imageContainer">
        <a class="Porta_Header-icon1 u-Porta_HeaderIcon" href="mailto:jorgeb_28@hotmail.es"></a>
        <img
          class="Porta_Header-image"
          src="../static/images/portafolio.la/avatar.jpg"
          alt="Avatar"
        />
        <a href="#" class="Porta_Header-icon2 u-Porta_HeaderIcon"></a>
        <figcaption class="Porta_Header-imageDescription">
          <a class="Porta_Header-link" href="https://twitter.com/JorgeBarron28" target="_blank"
            >@JorgeBarron28</a
          >
        </figcaption>
      </figure>
      <p class="Porta_Header-name">Jorge Eduardo</p>
    </header>

    <section class="Porta_Profile" id="perfil">
      <div class="u-Porta_ContainerDefault">
        <h2 class="Porta_Profile-title u-Porta_Title">Perfil</h2>
        <p class="Porta_Profile-description">
          Vestibulum ac leo vitae metus faucibus gravida ac in neque. Nullam est eros, suscipit sed
          dictum quis, accumsan a ligula. In sit amet justo lectus. Etiam feugiat dolor ac elit
          suscipit in elementum orci fringilla. Aliquam in felis eros. Praesent hendrerit lectus sit
          amet turpis tempus hendrerit. Donec laoreet volutpat molestie. Praesent tempus dictum nibh
          ac ullamcorper. Sed eu consequat nisi. Quisque ligula metus, tristique eget euismod at,
          ullamcorper et nibh. Duis ultricies quam egestas nibh mollis in ultrices turpis pharetra.
          Vivamus et volutpat mi. Donec nec est eget dolor laoreet iaculis a sit amet diam.
        </p>
        <a
          class="Porta_Profile-link1 u-Porta_ProfileLink"
          href="https://github.com/jorge8168711"
          target="_blank"
        >
          Jorge8168711</a
        >
        <a
          class="Porta_Profile-link2 u-Porta_ProfileLink"
          href="https://twitter.com/_JorgeBarron"
          target="_blank"
        >
          @JorgeBarron28</a
        >
      </div>

      <div class="u-Porta_ContainerDefault">
        <p class="Porta_Profile-skills">
          Proin ornare ligula eu tellus tempus elementum.Proin ornare ligula eu tellus tempus
          elementum.
        </p>
        <p class="Porta_Profile-skills">
          Proin ornare ligula eu tellus tempus elementum.Proin ornare ligula eu tellus tempus
          elementum.
        </p>
        <p class="Porta_Profile-skills">
          Proin ornare ligula eu tellus tempus elementum.Proin ornare ligula eu tellus tempus
          elementum.
        </p>
        <p class="Porta_Profile-skills">
          Proin ornare ligula eu tellus tempus elementum.Proin ornare ligula eu tellus tempus
          elementum.
        </p>
      </div>
    </section>

    <section class="Porta_Work" id="trabajo">
      <div class="u-Porta_ContainerDefault">
        <h2 class="Porta_Work-title u-Porta_Title">Trabajo</h2>

        <article class="Porta_Work-item">
          <figure class="Porta_Work-imageContainer">
            <img
              class="Porta_Work-image"
              src="../static/images/portafolio.la/logos.png"
              alt="Es la descrpción de mi imagen"
            />
            <figcaption class="Porta_Work-description">Logos</figcaption>
          </figure>
        </article>

        <article class="Porta_Work-item">
          <figure class="Porta_Work-imageContainer">
            <img
              class="Porta_Work-image"
              src="../static/images/portafolio.la/ilustracion.png"
              alt="Es la descrpción de mi imagen"
            />
            <figcaption class="Porta_Work-description">Ilustración</figcaption>
          </figure>
        </article>

        <article class="Porta_Work-item">
          <figure class="Porta_Work-imageContainer">
            <img
              class="Porta_Work-image"
              src="../static/images/portafolio.la/logos.png"
              alt="Es la descrpción de mi imagen"
            />
            <figcaption class="Porta_Work-description">Logos</figcaption>
          </figure>
        </article>

        <article class="Porta_Work-item">
          <figure class="Porta_Work-imageContainer">
            <img
              class="Porta_Work-image"
              src="../static/images/portafolio.la/ilustracion.png"
              alt="Es la descrpción de mi imagen"
            />
            <figcaption class="Porta_Work-description">Ilustración</figcaption>
          </figure>
        </article>

        <article class="Porta_Work-item">
          <figure class="Porta_Work-imageContainer">
            <img
              class="Porta_Work-image"
              src="../static/images/portafolio.la/logos.png"
              alt="Es la descrpción de mi imagen"
            />
            <figcaption class="Porta_Work-description">Logos</figcaption>
          </figure>
        </article>

        <article class="Porta_Work-item">
          <figure class="Porta_Work-imageContainer">
            <img
              class="Porta_Work-image"
              src="../static/images/portafolio.la/ilustracion.png"
              alt="Es la descrpción de mi imagen"
            />
            <figcaption class="Porta_Work-description">Ilustración</figcaption>
          </figure>
        </article>

        <article class="Porta_Work-item">
          <figure class="Porta_Work-imageContainer">
            <img
              class="Porta_Work-image"
              src="../static/images/portafolio.la/logos.png"
              alt="Es la descrpción de mi imagen"
            />
            <figcaption class="Porta_Work-description">Logos</figcaption>
          </figure>
        </article>

        <article class="Porta_Work-item">
          <figure class="Porta_Work-imageContainer">
            <img
              class="Porta_Work-image"
              src="../static/images/portafolio.la/ilustracion.png"
              alt="Es la descrpción de mi imagen"
            />
            <figcaption class="Porta_Work-description">Ilustración</figcaption>
          </figure>
        </article>
      </div>
    </section>

    <footer class="Porta_Footer" id="contacto">
      <div class="Porta_Footer-left">
        <h3 class="Porta_Footer-title">Contacto</h3>
        <p class="Porta_Footer-description">
          Integer elementum massa at nulla placerat varius. Suspendisse in libero risus, in interdum
          massa. Vestibulum ac leo vitae metus faucibus gravida ac in neque. Nullam est eros,
          suscipit sed dictum quis, accumsan a ligula. In sit amet justo lectus. Etiam feugiat dolor
          ac elit suscipit in elementum orci fringilla. Aliquam in felis eros. Praesent hendrerit
          lectus sit amet turpis tempus hendrerit.
        </p>
      </div>

      <form class="Porta_Footer-form" action="">
        <input class="Porta_Footer-formInput" type="text" placeholder="Nombre" />
        <input class="Porta_Footer-formInput" type="email" placeholder="Email" />
        <textarea class="Porta_Footer-textarea" name="" placeholder="Comentarios"></textarea>
        <button class="Porta_Footer-button" type="submit">Contactarme</button>
      </form>
    </footer>
  </body>
</html>
