<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="UTF-8" />
		<title>Mi portafolio</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../static/css/normalize.css" />
		<link rel="stylesheet" href="../static/css/estilo.css" />
	</head>

	<body>
		<header id="yo" class="Header">
			<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item"><a class="MainMenu-link"href="#yo">Yo</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link"href="#perfil">Perfil</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link"href="#trabajo">Trabajo</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link"href="#contacto">Contacto</a></li>
				</ul>
			</nav>

			<figure Class="Header-imageContainer">
				<img class="Header-image" src="../static/images/avatar.jpg" alt="Avatar"  />
				<figcaption class="Header-imageDescription">
					<a class="Header-link" href="#">@28Bam</a>
				</figcaption>
			</figure>
			<p class="Header-name">Jorge Eduardo</p>
		</header>

		<section class="profile" id="perfil">
			<h2 class="profile-title u-title">Perfil</h2>
			<p class="profile-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et minus quibusdam adipisci, dignissimos earum, perferendis molestiae sequi, dolorem dolor cupiditate vel. Ducimus fugit accusantium blanditiis rerum ipsam amet ratione aut.
			</p>
			<a class="profile-link" href="http://www.google.com" target="_blank">@28Bam</a>
			<a class="profile-link" href="#" target="_blank">Jorge Eduardo</a>
			<a class="profile-link" href="#" target="_blank">Jorge Eduardo</a>
		</section>

		<section class="work" id="trabajo">
			<h2 class="work-title u-title">Trabajo</h2>
			<article class="work-item">
				<figure class="work-imageContainer">
					<img class="work-image" src="static/imagen.png" alt="Es la descrpción de mi imagen" />
					<figcaption class="work-description" >Ejemplo de trabajo 1</figcaption>
				</figure>
			</article>

			<article class="work-item">
				<figure class="work-imageContainer">
					<img class="work-image" src="static/imagen.png" alt="Es la descrpción de mi imagen" />
					<figcaption class="work-description" >Ejemplo de trabajo 1</figcaption>
				</figure>
			</article>

			<article class="work-item">
				<figure class="work-imageContainer">
					<img class="work-image" src="static/imagen.png" alt="Es la descrpción de mi imagen" />
					<figcaption class="work-description" >Ejemplo de trabajo 1</figcaption>
				</figure>
			</article>

			<article class="work-item">
				<figure class="work-imageContainer">
					<img class="work-image" src="static/imagen.png" alt="Es la descrpción de mi imagen" />
					<figcaption class="work-description" >Ejemplo de trabajo 1</figcaption>
				</figure>
			</article>
		</section>

		<footer class="footer" id="contacto">
			<div class="footer-left">
				<h3 class="footer-title">Contacto</h3>
				<p class="footer-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum eveniet autem vel fugit voluptates dignissimos reiciendis perspiciatis vero, quidem, qui, a ipsa nam molestias sequi at. Temporibus quod officiis ut.</p>
			</div>
			<form class="footer-form" action="">
				<input class="footer-formInput" type="text" placeholder="Nombre" />
				<input class="footer-formInput" type="email" placeholder="Email" />
				<textarea class="footer-textarea" name="" placeholder="Comentarios" ></textarea>
				<button class="footer-button" type="submit">Contactarme</button>
			</form>
		</footer>
	</body>
</html>
